<ion-card>
  <ion-item lines="none">
    <ion-img [src]="item.image"></ion-img>
    <ion-card-content>
      <ion-card-header>{{item.name}}</ion-card-header>
      <ion-title><sup>Rp</sup>{{item.price|number:'1.0'}}</ion-title>
    </ion-card-content>
    <ion-buttons>
      <ion-button (click)="increase.emit()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="counter">{{item.quantity}}</div>
    <ion-buttons>
      <ion-button (click)="decrease.emit()">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>