@font-face {
  font-family: Nunito;
  src: url(../assets//fonts//Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(../assets//fonts//Nunito-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Nunito;
  src: url(../assets//fonts//Nunito-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Nunito;
  src: url(../assets//fonts//Nunito-Bold.ttf);
  font-weight: 700;
}