ion-button {
  --box-shadow: none;
  --background: #FF5472;

  text-transform: initial;
  font-size: 1.2rem;
  font-weight: 600;
  height: 65px;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}